
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right,#ffff99,#ccffff);
}
li {
  float: left;
}
li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  max-height: 46px;

}
.logo{
	max-width: 100px;
    max-height: 40px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -6px;
    box-shadow: 2px 4px 15px #888888;

}
.container{
  background-color: black;
}
/* Slidesh6w container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 160px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(185,177,177,0.59);
}

/* The dots/bullets/indicators */
.dot {
  transition: background-color 0.6s ease;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
input {
  width: 80%;
}
.sform{
  background:yellow ;
}
.sinput{
  width: 90%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding: 10px;
}
.grid-item{
  grid-row: 1/6;
  
}
.box{
  border-bottom: groove;
  color: white;
}
.txt{
  color: white;
  font-family: sans-serif;
}
.bgrid{
  margin: auto;
  width: 90%;
}
.overlape{
  position: relative;
  bottom: 55px;
  color: #f1f1f1;
  text-align: center;
  background: rgba(0,0,0,0.5);
}
.bfooter{
   background: linear-gradient(to right,#ffff99,#ccffff);
}
.flogo{
  max-width: 100px;
    max-height: 40px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 27px;
    box-shadow: 2px 4px 15px #888888;

}
.dropdown{
  position: relative;
  displauy: inline-block;
}
.drop-btn{
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 5px 42px;
    margin: 20px 5px 5px 45px;
    width: 160px;
    height: 38px;
    background-color: gold;
    font-weight: bolder;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  b0x-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.fa{
  float: right;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  /*-webkit-font-smoothing: antialiased;*/
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: gold;

}
.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.search-container{
  
}
.input-medium.search-query{
  cursor: pointer;
  top: -60px;
    height: 35px;
    left: 265px;
    border: rgb(24, 23, 21);
    border-radius: 4px;
    border-style: double;
    width: 1059px;
    position: relative;
    background-color: gold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.search-container-button{
  background-color: gold;
  width: 10px;
}
.ig{
  width: 40px;
  height: 38px;
  border-radius: 4px;
  border: rgb(24,23,21);
  border-style: double;
  position: relative;
  top: -45px;
  left: 255px;
}